# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python: 
  - 3.6
  - 3.5
  - 3.4
  - 3.3

services:
  - docker

before_install:
  - docker pull postgres:alpine
  - docker run -d -e POSTGRES_PASSWORD=postgres postgres:alpine

# env:
#  - TOXENV=py36
#  - TOXENV=py35
#  - TOXENV=py34
#  - TOXENV=py33

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - pip install -r requirements_dev.txt
  - pip install -U .
  - pip install -U coveralls
  - pip install -U tox-travis
  - pip install -U contextlib2

# command to run tests, e.g. python setup.py test
script: tox

after_success:
  - coveralls


